<link href="static/css/form.css" rel="stylesheet">
<form id="history-form">
    <div class="form-row">
        <div class="form-element">
            <label>Label<input name="label" disabled></label>
        </div>
        <div class="form-element">
            <label>Id<input name="id" disabled></label>
        </div>
    </div>

    <div class="form-row">
        <div class="form-element">
            <table id="history-table">
                <tr><th>Datum</th><th>Naam</th><th>Incident id</th></tr>
            </table>
        </div>
    </div>
</form>
